* {
  font-family: 'Colus' !important;
}
.goods {
    width: 250px;

}
h4 {
  font-size: 10px;
}
h5 {
  font-family: 'ChinaCyr' !important;
  font-size: 20px;
  font-weight: bold !important;
  vertical-align: auto;
}
#dex {
  font-family: 'Colus' !important;
  font-size: 10px;
}
#town {
  font-family: 'Colus' !important;
  font-size: 10px;
  color: tomato;
}
html {
  font-size: 12px !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
